# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#audio files
*.mp3
*.wav
*.png
*.jpg
*.pyc

# exclude
!beep.mp3
!clack.mp3

# Folders
audio/
images/
building_blocks/
logs/
history/
ui/
services/__pycache__/
utils/__pycache__/
__pycache__/